* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  h1 {
    color: rgb(0, 0, 2);
    font-size: xx-large;
    background-color: rgb(243, 24, 4);
    text-shadow: 2px 3px rgb(74, 71, 86);
  }

  p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-shadow: 2px 3px rgb(74, 71, 86);
    background-color: rgb(13, 8, 13);
  }
  background-color: rgb(255, 255, 255);
  border: 10px, double red;

  background-color: black;
  text-align: center;
}
